In [1]:
import pandas as pd

sub = pd.read_csv("submit.csv")
sub['fake'] = sub['fake'].round()
sub['real'] = sub['real'].round()

In [2]:
sub.to_csv("sub_round.csv", index=False)

               id  fake  real
0      TEST_00000   0.0   1.0
1      TEST_00001   0.0   1.0
2      TEST_00002   0.0   1.0
3      TEST_00003   0.0   1.0
4      TEST_00004   0.0   1.0
...           ...   ...   ...
49995  TEST_49995   0.0   1.0
49996  TEST_49996   0.0   1.0
49997  TEST_49997   0.0   1.0
49998  TEST_49998   0.0   1.0
49999  TEST_49999   0.0   1.0

[50000 rows x 3 columns]